.idea/
.projectcocktails/media
projectcocktails/media/images/1562988974_flat1000x1000075f_1.jpg
projectcocktails/media/images/20201217_154837.jpg
projectcocktails/media/images/48BdTKKUijk.jpg
projectcocktails/media/images/bidlo.jpg.png
projectcocktails/media/images/bidlo.jpg_xGRiRGH.png
projectcocktails/media/images/dem_61e2fa573d7fc.png
projectcocktails/media/images/20201217_154837_DkSy7TX.jpg
projectcocktails/media/images/bidlo.jpg_VBvDhAv.png
projectcocktails/media/images/canny.png
projectcocktails/media/images/canny_u3dnoBe.png
projectcocktails/media/images/default_1pj4ST6.png
projectcocktails/media/images/default_cej8Dqm.png
projectcocktails/media/images/default_jpF08L3.png
projectcocktails/media/images/default_nrDFZC5.png
projectcocktails/media/images/default_OEvGyjQ.png
projectcocktails/media/images/default_z4AeBSF.png
projectcocktails/media/images/Без-имени-1.png
projectcocktails/media/default.png
projectcocktails/media/images/4d4dcd3ca6ac26f644cfa36a2e89a77d.png
projectcocktails/media/images/6i-U42XoPQg.jpg
projectcocktails/media/images/FKILCmrVkAMnzF1.jpg
projectcocktails/.coverage
