{% extends "cocktails/layout.html" %}

{% block title %}{{ profile.user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="media row">
            <img src="{{ profile.avatar.url }}" class="mr-5 col col-lg-2">
            <div class="media-body col">
                <h2 class="mt-0 display-5">{{ profile.user.username }}</h2>
                <p>Registered at {{ profile.user.date_joined }}</p>
                {% if profile.bio != "" %}
                    <p>Bio: <br> {{ profile.bio }}</p>
                {% endif %}
            </div>
        </div>
        <hr/>
        <div class="row">
                <div class="col">
                    <h2 class="display-4">{{ profile.user.username }}'s receipts</h2>
                </div>
                {% if user.id == profile.user.id %}
                    <div class="col col-md-auto align-bottom">
                        <form action="/cocktails/create">
                            <button type="submit" class="btn btn-success">Create New</button>
                        </form>
                    </div>
                {% endif %}
                <div class="row card-deck">
                {% for item in profile.user.receipts.all %}
                    <div class="card col col-sm-5" style="margin-top: 2%">
                    <img class="card-img-top img-fluid" src="{{ item.image.url }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                                <p class="card-text">>
                                    {% for ing in item.ingredients.all %}
                                        <span class="badge badge-pill badge-light">{{ ing.name }}</span>
                                    {% endfor %}
                                </p>
                            <p class="card-text"><small class="text-muted">by {{ item.author.username }}</small></p>
                            <a href="/cocktails/{{ item.id }}" class="btn btn-primary">Show full</a>
                            {% if user.id == profile.user.id %}
                                <a href="/cocktails/{{ item.id }}/edit" class="btn btn-info">Edit</a>
                            {% endif %}
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                    <div class="row card-deck">
                    {% endif %}
                {% endfor %}
            </div>
            </div>
    </div>
{% endblock %}